<form name="{{ form.name }}"
      method="{{ form.method|default('POST') }}"
      action="{{ form.action ?: page.url }}"
      class="mx-auto mt-16 max-w-xl sm:mt-20">
{% include 'partials/form-messages.html.twig' with { form: form } %}

  <div class="flex flex-col gap-y-4">
    {% for field in form.fields %}
      {% set tpl = "forms/fields/#{field.type}/#{field.type}.html.twig" %}
      {% include tpl with { field: field, value: form.value(field.name) } %}
    {% endfor %}
  </div>

  <div class="mt-10 sm:col-span-2">
    {% for button in form.buttons %}
      <button type="{{ button.type|default('submit') }}"
              class="block w-full rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
        {{ button.value }}
      </button>
    {% endfor %}
  </div>

  {{ form.token }}
  <input type="hidden" name="__form-name__" value="{{ form.name }}">
  <input type="hidden" name="__unique_form_id__" value="{{ form.uniqueid }}">
  {{ nonce_field('form', 'form-nonce')|raw }}
</form>


