{% set extension = config.theme.production ? '.min' : '' %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/favicon.ico" media="(prefers-color-scheme: dark)">
        <link rel="icon" href="/favicon-dark.ico"  media="(prefers-color-scheme: light)">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4a6cf7">
        <link rel="manifest" href="/manifest.webmanifest">
        {% include 'partials/metadata.html.twig' %}

        <link rel="canonical" href="{{ page.url(true, true)|e }}" />
    {% endblock head %}

    {% block stylesheets %}
        {% do assets.addCss('theme://dist/css/site' ~ extension ~ '.css', 98) %}
    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
        <script src="{{ url('theme://js/vendor/alpine.js') }}" defer></script>
        <script type="module" src="{{ url('theme://js/main' ~ extension ~ '.js') }}"></script>
    {% endblock %}

</head>
<body id="top">

{% block header %}
    <header class="header flex flex-col gap-[1rem] p-8 md:p-[2vh] pb-0 mt-[4vh] md:pl-8 home-header">
            <div>
                <a class="logo" href="{{ home_url|e }}">{{ config.site.title|e }}</a>
            </div>
            {% block header_navigation %}
                <nav class="home-nav hidden lg:block">
                    {% import 'macros/macros.html.twig' as macros %}
                    <ul class="flex flex-col gap-[10vh] text-right mt-[-1em]">
                        {{ macros.nav_loop(pages) }}
                    </ul>
                </nav>
            {% endblock %}
            <button id="burger"
            class="lg:hidden w-10 h-10 grid place-items-center rounded"
            aria-label="Ouvrir le menu" aria-expanded="false" aria-controls="menu-overlay">
      <span class="block w-6 h-[2px] bg-white transition"></span>
      <span class="block w-6 h-[2px] bg-white transition -mt-[6px]"></span>
      <span class="block w-6 h-[2px] bg-white transition -mt-[6px]"></span>
    </button>
    
    <div id="menu-overlay"
         class="fixed inset-0 z-[50] bg-black"
         aria-hidden="true">
      <button id="overlay-close"
              class="absolute top-4 right-4 text-white text-6xl"
              aria-label="Fermer le menu">x</button>
  <nav class="h-full w-full flex items-center justify-center overflow-y-auto">
    {% import 'macros/macros.html.twig' as macros %}
      <ul class="flex flex-col md:grid md:grid-cols-2 gap-16 m-12 pb-4 text-3xl overflow-y-auto overflow-x-hidden">
    {{ macros.nav_loop(pages) }}
</ul>
        </ul>
      </nav>
    </div>
    </header>
{% endblock %}

{% block main %}
    <main>
        {% if page.header.videos_mp4 or page.header.videos_webm %}
            <video id="bg-video" autoplay muted loop playsinline webkit-playsinline>
                {% for video in page.header.videos_webm %}
                    <source src="{{ video.path }}" type="video/webm">
                {% endfor %}
                {% for video in page.header.videos_mp4 %}
                    <source src="{{ video.path }}" type="video/mp4">
                {% endfor %}
                Vidéo non supportée par le navigateur.
            </video>
        {% endif %}

        <div class=" absolute lg:pl-16 pl-8 2xl:text-7xl tracking-[0.07em] bottom-[5vh] welcome">
            <p>Bienvenue <br>sur mon portfolio</p>
        </div>
    </main>
{% endblock %}
{% block footer %}
    <footer class=" fixed bottom-[0rem] flex justify-center w-full items-center min-h-[3rem]">
        <div class="flex gap-[1em]">
            {% for page in pages.children %}
                {% if page.header.footer == true %}
                    <a href="{{ page.url }}">{{ page.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>